@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --background-color: dodgerblue;
  --accent-color: coral;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  width: 80vw;
  height: 100vh;
}

.sidebar {
  background-color: var(--background-color);
  grid-column-start: 1;
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: 3fr 11fr 10fr 10fr;
  gap: 10px;
  font-family: "Poppins", "Arail", sans-serif;
}

.sidebar > .nav ul,
.sidebar > .settings ul {
  display: grid;
  gap: 15px;
  list-style-type: none;
  font-weight: 600;
  font-size: 1.2rem;
  padding-left: 2rem;
}

.nav ul a,
.settings ul a {
  text-decoration: none;
  color: white;
}

.nav ul li,
.settings ul li {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  gap: 25px;
}

.logo {
  margin-left: 2rem;
  position: relative;
  display: grid;
  gap: 25px;
  grid-template-columns: 24px 1fr;
  align-items: center;
}

.sidebar .logo h1 {
  font-weight: 600;
  color: white;
  font-size: 1.7rem;
  grid-column: 2 / 3;
  position: relative;
}

.sidebar .logo h1::before {
  content: url(./images/grid.svg);
  position: absolute;
  left: -3.5rem;
}

.header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 2fr 3fr;
  margin: 0 1rem;
}

.search-bar {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

#search-input {
  height: 1.8rem;
  padding: 0.3rem;
  border: none;
  background-color: #e5e5e5;
  border-radius: 50px;
}

.auth-buttons {
  display: grid;
  column-gap: 15px;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  justify-items: end;
}

#notifications-icon {
  justify-self: end;
}

.auth-buttons p {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  justify-self: start;
}

#auth-profile-picture {
  height: 3rem;
  border-radius: 50%;
}

.user-info {
  display: grid;
  align-items: center;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 3fr 4fr;
  column-gap: 10px;
  font-family: "Poppins", Arial, sans-serif;
}

#profile-picture {
  height: 5rem;
  padding: 0.5rem;
  border-radius: 50%;
  grid-row: 1 / -1;
}

#greeting {
  align-self: end;
  font-size: 0.9rem;
  font-weight: 500;
}

#user-name {
  align-self: start;
  font-size: 1.4rem;
  font-weight: 600;
}

.interaction-buttons {
  margin-left: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.interaction-buttons button {
  font-size: 1.2rem;
  width: 10ch;
  padding: 0.6rem 0.8rem;
  border-radius: 50px;
  border: none;
  background-color: var(--background-color);
  color: white;
}

.main-content {
  grid-row: 2 / 3;
  background-color: #e5e5e5;
  display: grid;
  grid-template-columns: 5fr 2fr;
  font-family: "Poppins", "Arial", sans-serif;
}

.projects-header,
.announcements-header,
.trending-header {
  padding: 0.5rem 1rem 0 1rem;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
  padding: 1rem;
}

.project-card {
  border: 1px solid black;
  background-color: white;
  border: none;
  border-left: 5px solid var(--accent-color);
  border-radius: 8px;
  padding: 1rem;
}

.project-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.project-card-buttons {
  display: grid;
  grid-template-columns: 24px 24px 24px 1fr;
  justify-items: end;
  column-gap: 1.3rem;
  padding: 0.5rem;
  direction: rtl;
}

.feed-sidebar {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.announcements-list,
.trending-list {
  display: grid;
  list-style-type: none;
  padding: 1rem;
  gap: 1rem;
  background-color: white;
  border-radius: 8px;
  margin: 1rem;
}

.announcements-list li {
  border-bottom: 1px solid #444;
  padding-bottom: 0.5rem;
}

.announcements-list li:last-child,
.trending-list li:last-child {
  border-bottom: none;
}

.announcement-title {
  font-size: 1rem;
  font-weight: 600;
}

.announcement-description {
  font-size: 0.9rem;
}

.trending {
  display: grid;
}

.trending-header {
  align-self: end;
}

.trending-user {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 1fr 1fr;
}

.user-handle {
  align-self: end;
  font-size: 0.9rem;
}

.user-display-name {
  align-self: start;
  color: #555;
  font-size: 0.9rem;
}

.trending-user img {
  height: 4rem;
  background-color: white;
  border-radius: 50%;
  grid-row: 1 / -1;
}
